*{
    padding:0;
    margin:0;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(163, 232, 255);
}
.headerRow{
    background-color:rgb(216, 187, 106);
    height:55px;
    padding-top:8px;
    border-radius: 5px;
    margin: 2% 2% 10% 2%;
    font-size: 32px;
    font-weight:bold;
    wrap
}
.backgroundSection {
    color:navy;
    background-color: rgba(127, 132, 182, 0.76);
    height:60vh;
    border-radius: 5px;
    margin: 0 2% 0 2%;
    padding-bottom:25px;
}
h1{
    font-size:45px;
}
h2{
    font-size:35px;
}
h2, h1{
    padding:45px 0 45px 0;
}

.quiz ul li {
    cursor: pointer;
    padding: 5px;
    margin:10px 40% 10px 40%;
    border:2px solid rgba(162, 2, 255, 0.335);
    border-radius:5px;
}
.selected{
    border:2px solid rgba(162, 2, 255, 0.335);
    background-color:rgb(105, 238, 160);
    margin:0 380px;
}
.quiz li:hover , .selected{
    font-weight:bold;
    font-size:18px;
}
.startButton{
    font-weight:bold;
    border-radius: 5px;
    font-size: 20px;
    padding:8px;
    background-color:rgb(21, 194, 179);
    text-decoration:none;
}
.startButton:hover{
    opacity:0.7;
}
.startButton:active{
    opacity:0.5;
}
.quiz, .summary{
    display:none;
}
.hiddenMickey{
    margin:5px 0 5px 0 ;
    height:50px;
    opacity:0.0;
}
.hiddenMickey:hover{
    opacity:1.0;
}
a.homeIcon:hover{
    opacity:0.8;
}
a.homeIcon:active{
    opacity:0.6;
}
.donaldDuck{
    position:relative;
        top:5px;
    height:95px;
    width:95px;
}
