*{
    padding:0;
    margin:0;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgba(173, 216, 230, 0.781);
}
.headerRow{
    background-color:rgb(216, 187, 106);
    height:55px;
    border-radius: 5px;
    margin: 2% 2% 10% 2%;
    font-size: 23px;
    font-weight:bold;
}
.backgroundSection {
    color:rgb(253, 231, 34);
    background-color: rgba(127, 132, 182, 0.431);
    height:60vh;
    border-radius: 5px;
    margin: 0 2% 0 2%;
    padding-bottom:25px;
}
h1{
    font-size:45px;
    padding:45px 0 45px 0;
}
.startDiv{
    margin:0 0 15px 0;

}

.startButton{
    font-weight:bold;
    border-radius: 5px;
    font-size: 20px;
    margin:15px 0 15px 0;
    padding:10px;
    background-color:rgb(21, 194, 179);
    text-decoration:none;
}

.startButton:hover{
    opacity:0.7;
}
.startButton:active{
    opacity:0.5;
}
.quiz, .summary{
    display:none;
}

.hiddenMickey{
    margin:5px 0 5px 0 ;
    height:50px;
    opacity:0.0;
}
.hiddenMickey:hover{
    opacity:1.0;
}
a.homeIcon:hover{
    opacity:0.8;
}
a.homeIcon:active{
    opacity:0.6;
}
.donaldDuck{
    position:relative;
        top:5px;
    height:95px;
    width:95px;
}