*{
    padding:0;
    margin:0;
    text-align: center;
    list-style: none;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(173, 216, 230, 0.781);
}
.headerRow{
    background-color:rgb(216, 187, 106);
    height:55px;
    border-radius: 5px;
    margin: 2% 2% 10% 2%;
}
.hud > ul > li  {
    font-size: 23px;
    font-weight:bold;
}
.backgroundSection {
    background-color: rgba(127, 132, 182, 0.431);
    height:400px;
    border-radius: 5px;
    margin: 0 2% 0 2%;
}
.textContainer{
    color:rgb(253, 231, 34);
}
div.textContainer > section > h1{
    font-size: 35px;
    padding-top: 75px;
}
.nextButton{  
    position:relative;
        top:35px;
        right:25px;
    font-size:18px;
    font-weight: bold;
    border-radius:5px;
    height:40px;
    width:100px;
    transition: all 0.4Ss ease;
    background-color: whitesmoke;
}

.nextButton:hover{
    opacity:0.9;
    background-color: #363946;
    color: #ebca52;
}
.nextButton:active{
    opacity:0.6;
    background-color: #363946;
    color: #ebca52;
}
.hiddenMickey{
    height:50px;
    position:relative;
        top:150px;
        left:60px;
    opacity:0.0;
}
.hiddenMickey:hover{
    opacity:1.0;
}

.donaldDuck{
    position:relative;
        left:5px;
    height:100px;
    width:100px;
}
.bgFooter{
    margin: 5% 2% 0 2%;
    border-radius: 5px;
    position: relative;
        top:20px;
}
a.homeIcon:hover{
    opacity:0.8;
}
a.homeIcon:active{
    opacity:0.6;
}